{% extends 'webshop/base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Welcome, {{ user.username }} to your dashboard!</h1>

        <div>
            <a href="{% url 'webshop:product_list' %}" class="profile-btn">Go to Product Catalog</a>
        </div>

        <h2>Your orders:</h2>
        <ul>
            {% for order in orders %}
                <li>
                    Order #{{ order.id }} - Total amount: ${{ order.get_total_cost }} - Date: {{ order.created }}
                    {% if order.paid %}
                        - <a href="{% url 'orders:user_invoice' order.id %}" class="profile-btn">Download Invoice</a>
                    {% else %}
                        - Not paid
                    {% endif %}
                </li>
            {% empty %}
                <li>No orders found.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'account:logout' %}" class="profile-btn">Logout</a>
    </div>
{% endblock %}
